

@font-face {
  font-family: 'Swiss';
  src: url('font/Swiss721BT-RomanCondensed.woff2') format('woff2'),
       url('font/Swiss721BT-RomanCondensed.woff') format('woff'),
       url('font/Swiss721CondensedRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Swiss {
  font-family: 'Swiss', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.Swiss-gras {
  font-family: 'Swiss', sans-serif;
  font-weight: 600;
  font-style: bold;
}


 .rubik-mono {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}



.Montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.Montserrat-gras {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}


#landingpage {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#landingpage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  z-index: 0;
}

#landingpage>* {
  position: relative;
  z-index: 1;
}


#carbon {
  background-image: url('../images/carbon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



