
// Fonts

// font Rubik Rubik Mono One, que j'utilise dans le footer
.rubik-mono {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }