
// Fonts

// font Rubik Rubik Mono One, que j'utilise dans le footer
.rubik-mono {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
#landingpage {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#landingpage::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../images/landingpage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: 0;
}
#landingpage > * {
  position: relative;
  z-index: 1;
} 